<h2><%= @power.name %></h2>
<p><i><%= @power.description %></i></p>
<%= image_tag(@power.img_url, width: '150') %><br /><br />
<h3>Heroines with <%= @power.name %>:</h3>
<ul>
  <% @power.heroines.each do |h| %>
    <li><%= link_to h.name, h %></li>
  <% end %>
</ul>
<br /><br />
<%= link_to "see all powers! POW!", powers_path %>
